.color-palette {
	display: flex;
    margin: 10px;
}

.color-values-container {
    display: flex;
}

.color-values{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.color-value-input{
    width: 50px;
}

.color-value-input-lg{
    width: 80px;
}

#current-color {
	background-color: black;
}

#gradient-canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.gradient-container, .slider-container {
    position: relative;
}

#gradient-cursor, #slider-cursor {
    position: absolute;
    top: 0;
    right:  0;
    border: 2px solid black;
    box-sizing: border-box;
}

.cursor {
    border: 2px solid black;
}

.inner-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 100vw;
    height: 100vh;
}

#slider-canvas {
	position: absolute;
	top: 50%;
    margin-top: -15px;
	left: 0;
    padding-top: 10px;
	z-index: 1;
}


